{% extends 'head.html' %}
{% load static %}
{% block content %}
<div class="container">
  <center><h3> Catagorised Product </h3></center>
  {% for cat in Catagories %}
  <h4>{{ cat.title }}</h4><hr>
  <div class="row">
    {% for Product in cat.product_set.all %}
         <div class="col-md-3 card ">
           <div class="m-4">

             <h4><a href="{% url 'furnitureshop:single' Product.id  %}">{{Product.title}}</a></h4>
                <img src="{{ Product.image.url}}" alt=" " class="img-fluid" style="height:200px; object-fit:contain;">
             <p class="mt-3">Price:$ {{ Product.selling_price }} </p>
             <a href="{% url 'furnitureshop:addtocart' Product.id  %}" class=" btn btn-primary"> Add to Cart</a>
           </div>
         </div>
        {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}