{%  extends 'head.html' %}

{% load static %}
{% block content   %}
<a href="{% url 'furnitureshop:index' %}" class="btn btn-info">Continue shopping</a>

<div class="table-responsive">
  <table class="table">

  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Rate</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
{% for cp  in cart.cartproduct_set.all  %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <th> <figure class="itemside align-items-center">
        <div class="aside"><img src="{{ cp.product.image.url}}" class="img-sm"></div>
      </figure></th>

      <td>{{ cp.product.title }}</td>
      <td>${{ cp.rate }}</td>
      <td>{{ cp.quantaty }}</td>
      <td>${{ cp.subtotal }}</td>
      <td>
        <a href="{% url 'furnitureshop:managecart' cp.id %}?action=inc" class="btn btn-primary">+</a>
        <a href="{% url 'furnitureshop:managecart' cp.id %}?action=dcr" class="btn btn-warning">-</a>
        <a href="{% url 'furnitureshop:managecart' cp.id %}?action=rmv" class="btn btn-danger">*</a>

      </td>
    </tr>

{% endfor %}
<tr>
  <th colspan="4" class="text-right">Total:</th>
  <th>${{ cart.total_amout }}</th>
  {% if cart.cartproduct_set.all %}
  <th><a href="{% url 'furnitureshop:emptycart'  %}" > Empty cart   </a></th>
  {% endif %}
</tr>

  </tbody>

</table>

{% if cart.cartproduct_set.all %}
  <tr> <a href="{% url 'furnitureshop:checkout' %}" class="btn btn-info">Check-Cart And Order</a>
</tr>
  {% endif %}




</div>
<style>

  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #eeeeee;
    font-family: 'Open Sans', serif;
    font-size: 14px
}




.img-sm {
    width: 80px;
    height: 80px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}









</style>

  {% endblock %}